[submodule "tools/superpowers"]
	path = tools/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "tools/claude-mem"]
	path = tools/claude-mem
	url = https://github.com/thedotmack/claude-mem.git
