@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-bg-base text-fg-primary antialiased;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  }
  code,
  .font-mono {
    font-variant-numeric: tabular-nums;
  }
}
